@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
/* ---------------------------------------------mypage.html-------------------------------------------------------- */

.main-menu ul li a{
    font-family: 'Roboto Condensed', sans-serif;
}

.card_row{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
}

.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}
.card {
    border: 0;
    background: #fff;
    height: 100%;
    width: 50em;
    border-radius: 2%;
}

.card .card-body {
    padding: 2.5rem 2.5rem;
}
.mypage_container{
    width: 1100px;
    margin: auto;
}
footer{
    margin-top:80px;
}
.user_img{
    width: 100px; height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.card-title{
    margin-bottom: 15px;
}
.delivery img {
    width: 4em;
    height: 4em;
}
.delivery {
    display: flex;
    flex-direction: row;
}
.delivery_row {
    flex:auto;
}

.card-body > .btn{
    margin: 2px;
    float: right;
}

/* -------------------------------------------------------mydetail------------------------------------------------------------------ */
td>img{
    width: 12em;
    height: 12em;
}
.mydetail_h2{
    margin-top: 0.5em;
    margin-bottom:1em; 
}
@media (min-width: 992px) {
    .mypage .section-padding {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    .mypage {
        margin: 30px;
    }
}

.container_mypage {
    margin: auto;
}
.mypage {
    width: 1200px;
    margin: 2em auto;
}
.mypage_text {
    text-align: center;
    margin-bottom: 1em;
}

.container_mypage2 {
    width: 80em;
    margin: auto;
}


/* ----------------------------------------------------basket------------------------------------------------------------------- */

.option_button{
    border: 1px solid #5d8222;
    color: #5d8222;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    text-transform: capitalize;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    width: 5em;
    text-align:center;
}

.option_button:hover {
    border: 1px solid #5d8222;
    color: #fff;
    background-color: #5d8222;
}
#o_move{
    margin-top: 2.3em;
}
.btn{
    color: white;
}
/* ----------------------------------------------------------------order------------------------------------------------------- */
@media (min-width: 992px) {
    .order .section-padding {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    .order {
        margin: 30px;
    }
}

input{
    background-color: white;
    border: 0px;
}

.order-text{
    text-align: center;
}

.order_input{
    width: 65em;
}
.pay{
    text-align: center;
    font-size: 20px;
}

p{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 0.3em;
    color: black;
    font-size: 15px;
}