{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}

    <link rel="stylesheet" href="{%static 'main/css/layout/mypage.css'%}">
        <!-- mypage 시작-->
        <div class="container">
            <div class="card_row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <h1 class="card-title">회원정보</h1>
                            <img class="user_img" src="{%static 'main/img/user.png'%}">
                                <h3>장희승</h3>
                                <h3>gmltmd121@gmail.com</h3>
                                <h3>Tel: 010 - 0000 -0000</h3>
                                <h3>가입일: 2019.10.07</h3>
                                <h3 style="color: #5D8222;">SEED[1YEAR]</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card" style="height:80%;">
                            <div class="card-body">
                                <h2 class="card-title">주문목록</h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">물품</th>
                                            <th scope="col">갯수</th>
                                            <th scope="col">날짜</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>빨대</td>
                                            <td>3</td>
                                            <td>09.02</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td>빨대</td>
                                            <td>3</td>
                                            <td>09.02</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                    <br>
                                        <a href="{%url 'basket'%}" class="btn btn-primary">장바구니</a>
                                        <a href="{%url 'mydetail'%}" class="btn btn-primary">자세히</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card_row">
                            <div class="col-lg-6 grid-margin stretch-card">

                                <div class="card">
                                    <div class="card-body">
                                        <h1 class="card-title">배송현항</h1>
                                        <div class="jumbotron jumbotron-fluid">
                                            <div class="delivery">
                                                <div class="delivery_row">
                                                    <img src="{%static 'main/img/gift2.png'%}">
                                                        <p>배송준비중</p>
                                                    </div>
                                                    <div class="delivery_row">
                                                        <img src="{%static 'main/img/arrow.png'%}"></div>
                                                        <div class="delivery_row">
                                                            <img src="{%static 'main/img/delivery-truck.png'%}">
                                                                <p>배송중</p>
                                                            </div>
                                                            <div class="delivery_row">
                                                                <img src="{%static 'main/img/arrow.png'%}"></div>
                                                                <div class="delivery_row">
                                                                    <img src="{%static 'main/img/box2.png'%}">
                                                                        <p>배송완료</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 grid-margin stretch-card">
                                                    <div class="card" style="margin-top: -5em; height: 25em;">
                                                        <div class="card-body">
                                                            <h2 class="card-title">관심도</h2>
                                                            <canvas id="pieChart"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card" style="margin-top: 2.5em; width: 78em;">
                                                    <div class="card-body">
                                                            <h2 class="card-title">기여도</h2>
                                                        <canvas id="areaChart"style="height:25px;"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- mypage끝 -->
                                        {%endblock%}