{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/product.css'%}">
        <div class="pro_img">
            <!-- <div class="det"> -->
                    
            
            {% if product.image %}
            <img
                class="card-img-top"
                src="{{product.image.url}}"
                alt="Card image cap">
                {% endif %}

                <div class="space"></div>
                <!-- </div> -->
                <section id="gtco-welcome" class="bg-white section-padding">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" style="border-color:white;">
                                    <h1>{{product.name}}</h1>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th  style="border-color:white;">
                                    <h2>{{product.detail}}
                                    </h2>
                                </th>
                                <th style="border-color:white;"></th>
                            </tr>
                            <tr>
                                    <th colspan="2" style="border-color:white;">
                                        <h2>가격 : {{product.price}} </h2>
                                    </th>
                                </tr>
                            <th  style="border-color:white;">
                                <div class="th_text">옵션</div>
                            </th>
                            <!-- <th  style="border-color:white;">
                                <div class="th_text">
                                    <div class="btn-group dropright">
                                        <button
                                            type="button"
                                            class="btn btn-light dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                            옵션 선택
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </th> -->

                            <th  style="border-color:white;">
                                    <div class="th_text">
                                        <div class="btn-group dropright">
                            <form action="{% url 'addbasket' pk=product.pk %}">
                                                        
                                    {% regroup properties.all by product as property_list %} <!-- grouping by product-->
                
                                    <ul>
                                        {% for property in property_list %}
                                        {% if property.grouper.id == product.id %}
                
                                        <li>
                                            {% regroup property.list by property as p_list %} <!-- grouping by option_name-->
                                            <ul>
                                                {% for p in p_list %}
                                                <li> {{ p.grouper }}</li>
                                                <select name="property[]">
                                                    {% for p1 in p.list %}
                                                    <option value={{p.grouper}}:{{p1.property_value}}>
                                                        {{ p1.property_value }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                                {% endfor %}
                                            </ul>
                
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                        <input type="submit" class="search" value="&#xf291;" /> </i>
                                </form>

                                </div>
                                </div>
                                </th>
                            <tr  style="border-color:white;">
                               
                                <th  style="border-color:white;">
                                    <div class="th_text">
                                        <div class="bas">
                                            <a data-toggle="modal" data-target="#exampleModal">
                                                <form href="#">
                                                    <!-- <i class="fa fa-shopping-basket" style='font-size:25px; padding-top:
                                                    4px;'></i> -->
                                                    <input type="submit" class="search" value="&#xf291;" style="font-size: 25px;"/>
                                                </form>
                                            </a>
                                        </div>
                                    </div>
                                </th>
                                <th  style="border-color:white;">
                                    <div class="th_text">
                                        <div class="back">
                                            <a href="{% url 'product'%}">
                                            <button type="button" class="btn btn-outline-success">BACK</button>
                                            </a>
                                        </div>
                                    </div>
                                </th>
                                
                                <!-- <h2 style="color: red;">뒤로</h2> -->
                            </tr>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>



    <!-- Modal -->
    <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    장바구니에 제품이 담겼습니다
                </div>
                <div class="modal-footer">
                    <!-- 그냥 닫히면 될거같아서close로 햇어용 -->
                    <a class="btn btn-primary" data-dismiss="modal">쇼핑이어하기</a>
                    <a class="btn btn-primary" href="{%url 'basket'%}">장바구니<a></div>
                    </div>
                </div>
            </div>

            {%endblock%}