{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/product.css'%}">
        <div class="portfolio-area ptb-90">
            <div class="container_product">
                <div class="row">
                   {% for product in products.all %}


                    <div class="col-md-3 col-sm-6">
                        <!-- 카드 -->
                        <div class="single-service white-bg text-center">
                                {% if product.image %}
                                    <img src="{{product.image.url}}" alt="/"> <br>
                                {% endif %}
                                <h3>{{product.name}}</h3>
                                {% if product.id != 1 %}
                                    <h5>{{product.price}}</h5>
                                    <p>
                                    카테고리: {{product.category.name}} <br>
                                {% endif %}
                                    상품정보: {{product.detail}} <br>
                                {% if product.id != 1 %}
                                    <a href="{% url 'detail' pk=product.pk %}">상품 자세히 보기</a>
                                    </p>
                                {% endif %}

                                    {{properties.product}}
                                <br>
                                <!-- {{grouped}} -->
                                <br>
                                
                                <!-- {{grouped2}} -->
                                <!-- case1 -->
                                <!-- <a href="#" data-toggle="modal" data-target="#exampleModal"> -->

                                    <!-- 상품별 카테고리 뽑아내기 -->
                                    <!-- {% if grouped %}  <br> -->
                                        <!-- {% for key, value in grouped.items %}
                                            {% if product.id == value.0.1 %}
                                            
                                                {{key}}:
                                                    <select name="property">
                                                        {% for v1, v2 in value %}
                                                        <br>
                                                                <option value={{v}}>
                                                                {{v1}}
                                                                </option>
                                                    
                                                        {% endfor %}    
                                                    </select>
                                                    
                                            {% endif %}
                                        {% endfor %}                                            
                                    {% endif %} -->

                                    <!-- {% for property in properties %}
                                    {% if product.id == property.product.id %}
                                    {{property.product.id}}: {{property.property}} : {{property.property_value}} <br>
                                    
                                    {% endif %}
                                    {% endfor %} -->


                                    

                                    


                                    <form action="{% url 'addbasket' pk=product.pk %}">
                                            <input type="submit" class="search" value="&#xf291;" /> </i>
                                    </form>
                                <!-- </a> -->

                                <!-- case2 -->
                                <!-- <a href="{% url 'addbasket' pk=product.pk %}" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-shopping-basket" style='font-size:25px; padding-top: 4px;'></i>
                                </a> -->

                                <!-- case3 -->
                                <!-- <form action="{% url 'addbasket' pk=product.pk %}">
                                 <a href="#" data-toggle="modal" data-target="#exampleModal">
                                    <input type="submit" class="search" value="&#xf291;" /> </i>
                                </a>
                                </form> -->
                                        
                                        
                        </div>
                    </div>
                    {% endfor %}
                    
               </div>
            </div>
        </div>

                    <!-- Modal
                    <div
                        class="modal fade"
                        id="exampleModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    장바구니에 제품이 담겼습니다
                                </div>
                                <div class="modal-footer">
                                    그냥 닫히면 될거같아서close로 햇어용
                                    <a class="btn btn-primary" data-dismiss="modal">쇼핑이어하기</a>
                                    <a class="btn btn-primary" href="{%url 'basket'%}">장바구니<a></div>
                                    </div>
                                </div>
                            </div> -->


                            {%endblock%}

<!-- <h1>product list</h1>
{% for product in products.all %}
    <div>
        제품명: {{product.name}} <br>
        제품가격: {{product.price}} <br> 
        {% if product.id != 1 %}
            카테고리: {{product.category.name}} <br>
            상품정보: {{product.detail}} <br>
        
            {% if product.image %}
            이미지: <img src="{{product.image.url}}" alt="/"> <br>
            {% endif %}
        
        
        <a href="{% url 'detail' pk=product.pk %}">상품 자세히 보기</a>
        {% endif %}
        <form action="{% url 'addbasket' pk=product.pk %}">
            <input type="submit" value="장바구니에 추가하기">
        </form>
        
    </div>
    <br><br>
{% endfor %} -->