{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}

<h1>product list</h1>

{% for product in products.all %}
    <div>
        제품명: {{product.name}} <br>
        제품가격: {{product.price}} <br> 
        {% if product.id != 1 %}
            카테고리: {{product.category.name}} <br>
            상품정보: {{product.detail}} <br>
        
            {% if product.image %}
            이미지: <img src="{{product.image.url}}" alt="/"> <br>
            {% endif %}
        
        
        <a href="{% url 'detail' pk=product.pk %}">상품 자세히 보기</a>
        {% endif %}
        <form action="{% url 'addbasket' pk=product.pk %}">
            <input type="submit" value="장바구니에 추가하기">
        </form>
        
    </div>
    <br><br>
{% endfor %}
{%endblock%}